.Profile-attribute {
    font-size: calc(10px + 0.5vmin);
    margin-bottom: 1em;
}

.Profile-attribute-name {
    display: inline-block;
    vertical-align: top;
    width: 20vh;
    font-weight: bold;
}

.Profile-attirbute-description {
    display: inline-block;
}

.Profile-attirbute-description-line {
    display: block;
}