.Header {
    font-family: Calibri;
    text-align: center;
    margin-top: 1.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2.5vmin);
}

.Header-title {
  width: 80vh;
  font-weight: bold;
  background-color: rgb(197,224,179);
}

.Header-main-line {
  color: rgb(83,129,53);
  font-weight: bold;
  font-style: italic;
  font-size: 18.8px;
}

.Header-main-line sup{
  font-size: 10px;
}